<h1>Edit your Appointment:</h1>
<br></br>
<form action="/appointments/<%= @appointment.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <h2><%= @appointment.datetime %></h2>
  <input type="text" name="appointment[datetime]" value="<%= @appointment.datetime %>" id="datetime">
  <h2><%= @appointment.content %></h2>
  <input type="text" name="appointment[content]" value="<%= @appointment.content %>" id="content">
  <br></br>
  <input type="submit" name="submit" value="Submit Edits">
</form>

<form action="/appointments/<%= @appointment.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this Appointment" id="delete">
</form>
