<h1>Welcome to Scheduler</h1>
<br></br>
  <% if logged_in? %>
  <h2>Here are your tasks, <%= current_user.username %>:</h2>
  <% @appointments = current_user.appointments %>
  <% @appointments.each do |appointment| %>
  <ol><%= "#{appointment.datetime}"%> <%= "#{appointment.content}" %>  <a href="/appointments/<%= appointment.id %>/edit">Edit or Delete</a> this Appointment</ol>
  <% end %>
  <br></br>
  <h2><a href="/appointments/new">Create</a> a new task.</h2>
  <br></br>
  <h2>Here is your to-do list:</h2>
  <% @todos = current_user.todos %>
  <% @todos.each do |todo| %>
  <li><%= "#{todo.name}" %></li>
  <% end %>
  <h2><a href="/todos/new">Create</a> or<a href="/todos/edit">Edit</a> your to-do list.</h2>
<% else %>
  <h2>Please <a href="/login">Log In</a> or <a href="/signup">Sign Up</a>.</h2>
<% end %>
